html, body {
    margin: 0;
    padding: 0;
    width: 100% !important;
    height: 100% !important;
    box-sizing: border-box;
}

#root {
    width: 100%;
    height: 100%;
}

.react-confirm-alert-overlay {
  z-index: 2000 !important;
}
.react-confirm-alert {
  z-index: 2100 !important;
}

@media (max-width: 768px) {
  .desktop-nav {
    display: none !important;
  }
  .mobile-menu-icon {
    display: block !important;
  }
}